.experience {
  padding-bottom: 12px;

  &__title {
    padding-bottom: 6px;
  }

  &__company {
    padding-bottom: 3px;
  }

  &__range {
    padding-bottom: 3px;
  }

  &__bullets {
    margin-left: 3px;
  }
}
