@import "./styles";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  font-size: $default-font-size;
  max-width: $max-body-width;
  margin: 0 auto;
  color: $gray-800;
}

body { 
  padding: $default-spacing;
}

@media print {
  body {
    width: auto;
    padding: 0;
    margin: 0;
    font-size: $print-font-size;
  }
}

a {
  color: inherit;
}

ul {
  list-style-position: inside;
}

.--small-text {
  font-size: .75em;
}
